.bankbox-table .pending-order .hyperlink {
    position: absolute;
    align-items: center;
    border-radius: 10px;
    width: 170px;
    padding: 12px 25px;
    margin-left: 1320px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    margin-top: 11px;
}
@media only screen and (min-device-width: 1367px) and (max-device-width: 1600px) {
  .bankbox-table .pending-order .hyperlink {
    margin-left: 1042px;
  }
  }