.bank-name{
    margin-left: 132px;
}
.bank-name input[type="text"]{
    padding: 18px 20px;
    margin-left: 38px;
}
.branch-name{
    margin-left: 132px;
}
.branch-name input[type="text"]{
    padding: 18px 20px;
}
.account-holder{
    margin-left: 132px;
}
.account-holder input[type="text"]{
    padding: 18px 20px;
    margin-left: 13px;
}
.account-number{
    margin-left: 132px;
}
.account-number input[type="text"]{
    padding: 18px 20px;
    margin-left: 4px;
}
.opening-balance{
    margin-left: 132px;
}
.opening-balance input[type="text"]{
    padding: 18px 20px;
    margin-left: 4px;
}