#sales .profile-details {
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
  margin-left: 132.8rem;
}
.dbox-table .search-box .bx-search {
  left: 1140px;
}
.search-box{
  margin-left: 28px;
}
/*overlay*/
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    right: 0;
    backdrop-filter: blur(15px);
    transition: opacity 1000ms;
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .sales_form {
    margin: 70px auto;
    padding: 20px;
    background: var(--white);
    border-radius: 20px;
    width: 696px;
    height: 700px;
    position: relative;
    transition: all 5s ease-in-out;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(12, 0, 0, 0.25) 0px 6px 12px -2px, rgba(15, 1, 1, 0.3) 0px 3px 7px -3px;
  }
  
  .sales_form h2 {
    margin-top: 0px;
    color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    text-align: left;
    font-size: 20px;
    margin-left: 15px;
  }
  
  .sales_form .close{
    position: absolute;
    top: 15px;
    right: 22px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background: #003566;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    opacity: 0.8;
  }
  .sales_form .close i{
    position: absolute;
    font-size: 20px;
    margin: 5px 9px;
    border: none;
    color: var(--white);
  }
  .sales_form .close:hover {
    color: var(--blue);
  }
  .sales_form .content {
    max-height: 30%;
    text-align: center;
    margin: 24px auto;
    color: #000000;
  }
  .date{
    margin-left: 148px;
    margin-top: 30px;
  }
  .party{
    margin-left: 148px;
    margin-top: 30px;
  }
  .sale-item{
    margin-left: 148px;
    margin-top: 30px;
  }
 .current_date input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    width: 20px;
    height: 20px;
    border-width: thin;
}
#date-today{
    margin-left: 147px;
    margin-top: -38px;
    width: 15%;
    padding: 10px 13px;
    text-align: left;
    border-radius: 10px;
    border: none;
    background: #EBEBEB;
 }
 
 .select-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 572px;
  position: absolute;
  z-index: 2;
}
.select-box .option {
  padding: 8px 18px;
  cursor: pointer;
}
.select-box .options-container {
  background: white;
  margin-left: -68px;
  margin-top: 10px;
  box-shadow: rgb(12 0 0 / 25%) 0px 6px 12px -2px, rgb(15 1 1 / 30%) 0px 3px 7px -3px;
  max-height: 0;
  width: 30%;
  height: 20%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #EBEBEB;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #0d141f;
  position: absolute;
  margin-left: -240px;
  margin-top: -42px;
  width: 55%;
  order: 0;
}

.selected::after {
  content: "\276F";
  background-size: contain;
  background-repeat: no-repeat;
  width: 0px;
  right: 10px;
  top: 12px;
  transition: all 0.35s;
  position: absolute;
  margin-top: -2px;
  cursor: pointer;
  left: 344px;
}

.select-box .options-container.active {
  max-height: 500px;
  opacity: 1;
  /* overflow-y: scroll; */
}

.options-container.active + .selected::after {
  transform: rotate(90deg);
  transition: all 0.35s;
  top: 12px;
}
.option input:checked[type="radio"]::after{
  content: '';
  position: absolute;
  border: 2px solid var(--blue);
  box-sizing: border-box;
  transition: 0.5s;
  margin: 2px 148px;
  border-left: none;
  border-top: none;
  border-color: #003566;
  transform: rotate(45deg) translate(5px, -10px);
  width: 8px;
  height: 15px;
}
.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: var(--secondary);
  border-radius: 10px;
}

.select-box label {
  cursor: pointer;
}

.party-box .option input[type="radio"] {
  appearance: none;
  border: none;
  outline: none;
}
/* this is for item selecting styling*/

.item-select {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 572px;
  position: absolute;
  z-index: 1;
}
.item-select .item-option {
  padding: 5px 18px;
  cursor: pointer;
}
.item-select .item-container {
  background: white;
  color: #003566;
  margin-left: 40px;
  margin-top: 10px;
  box-shadow: rgb(12 0 0 / 25%) 0px 6px 12px -2px, rgb(15 1 1 / 30%) 0px 3px 7px -3px;
  max-height: 0;
  width: 15%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.item-selected {
  background: #EBEBEB;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #0d141f;
  position: absolute;
  margin-left: -240px;
  margin-top: -42px;
  width: 55%;
  height: 45px;
  order: 0;
}

.item-selected::after {
  content: "\276F";
  background-size: contain;
  background-repeat: no-repeat;
  width: 0px;
  right: 10px;
  top: 12px;
  transition: all 0.35s;
  position: absolute;
  margin-top: -2px;
  cursor: pointer;
  left: 344px;
}

.item-select .item-container.active {
  max-height: 500px;
  opacity: 1;
  /* overflow-y: scroll; */
}

.item-container.active + .item-selected::after {
  transform: rotate(90deg);
  transition: all 0.35s;
  top: 12px;
}
.item-option input:checked[type="radio"]::after{
  content: '';
  position: absolute;
  border: 2px solid var(--blue);
  box-sizing: border-box;
  transition: 0.5s;
  margin: 2px 55px;
  border-left: none;
  border-top: none;
  border-color: #003566;
  transform: rotate(45deg) translate(5px, -10px);
  width: 8px;
  height: 15px;
}
.item-select .item-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.item-select .item-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.item-select
.item-selected {
  padding: 12px 24px;
  cursor: pointer;
}

.item-select .item-option:hover {
  background: var(--secondary);
  border-radius: 10px;
}

.item-select label {
  cursor: pointer;
  margin-left: -2px;
  font-size: 16px;
  color: #003566;
  font-weight: 600;
}

.items-box .item-option input[type="radio"] {
  appearance: none;
  border: none;
  outline: none;
}



.sale-content  form input[type="text"] {
  position: absolute;
  margin-left: 322px;
  margin-top: -50px;
  width: 55%;
  padding: 15px 18px;
  text-align: left;
  border-radius: 10px;
  border: none;
  background: #EBEBEB;
}
/* this is for item selection styling*/
.item-content {
  width: 109px;
  height: 110px;
  color: black;
  background: white;
  transition: all 0.35s;
  box-shadow: rgb(12 0 0 / 25%) 0px 6px 12px -2px, rgb(15 1 1 / 30%) 0px 3px 7px -3px;
  position: absolute;
  margin-left: 608px;
  border-radius: 15px;
  z-index: 1;
}
#itemarrow:checked + .item-input::after {
  transform: rotate(90deg);
}

/* #searcharrow:checked ~ .search-content{
  max-height: 250px;
  padding: 1em;
} */
.item-input::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  margin-left: 666px;
  position: absolute;
  margin-top: -37px;
  cursor: pointer;
}
.item-block{
  font-size: 16px;
  margin-left: 20px;
  margin-top: 9px;
  color: #003566;
  font-weight: 500;
  cursor: pointer;
}
.item-challa{
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
  color: #003566;
  font-weight: 500;
  cursor: pointer;
}

.itemcheckbox1{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 7px 5px;
}
.itemcheckbox1:hover{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background: var(--secondary);
  margin: 7px 5px;
  transition: 0.5s;
}
.itemcheckbox2{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin: 15px 5px;
}
.itemcheckbox2:hover{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background: var(--secondary);
  margin: 15px 5px;
  transition: 0.5s;
}
.item-content input[type="radio"]{
  appearance: none;
}
.item-content .itemcheckbox1 input:checked[type="radio"]:before{
  content: '';
  position: absolute;
  border: 2px solid var(--blue);
  box-sizing: border-box;
  transition: 0.5s;
  margin: -13px 8px;
  border-left: none;
  border-top: none;
  border-color: #003566;
  transform: rotate(45deg) translate(5px, -10px);
  width: 8px;
  height: 15px;
}
.item-content .itemcheckbox2 input:checked[type="radio"]:before{
  content: '';
  position: absolute;
  border: 2px solid var(--blue);
  box-sizing: border-box;
  transition: 0.5s;
  margin: -13px 2px;
  border-left: none;
  border-top: none;
  border-color: #003566;
  transform: rotate(45deg) translate(5px, -10px);
  width: 8px;
  height: 15px;
}
.combine-div {
  display: flex;
  flex-direction: row;
  margin-top: -18px;

}
.sale-price{
  margin-left: 148px;
  margin-top: 50px;
}
.sale-div{
    margin-left: 151px;
    margin-top: 35px;
    width: 15%;
    padding: 15px 18px;
    text-align: left;
    border-radius: 10px;
    border: none;
    background: #EBEBEB;
}
.sale-qty{
  margin-left: 26px;
  margin-top: 50px;
}
.combine-div .qty-div input[type=text]{
    margin-left: 20px;
    margin-top: 35px;
    width: 20%;
    padding: 15px 18px;
    text-align: left;
    border-radius: 10px;
    border: none;
    background: #EBEBEB;
}
.combine2-div {
  display: flex;
  flex-direction: row;
  margin-top: -18px;

}
.amount-div{
  margin-left: 148px;
  margin-top: 50px;
}
.sale-amount{
    margin-left: 130px;
    margin-top: 35px;
    width: 15%;
    padding: 15px 18px;
    text-align: left;
    border-radius: 10px;
    border: none;
    background: #EBEBEB;
}
.sale-discount{
  margin-left: 26px;
  margin-top: 50px;
}
.combine2-div .discount-div input[type=text]{
    margin-left: 6px;
    margin-top: 35px;
    width: 20%;
    padding: 15px 18px;
    text-align: left;
    border-radius: 10px;
    border: none;
    background: #EBEBEB;
}
.t-amount{
  margin-left: 450px;
  margin-top: 30px;
}
.tamount-div{
    margin-left: 580px;
    margin-top: -36px;
    width: 15%;
    padding: 15px 18px;
    text-align: left;
    border-radius: 10px;
    border: none;
    background: #EBEBEB;
}
  .btn {
    width: 200px;
    position: fixed;
    top: 620px;
    bottom: 0px;
    right: 0px;
    left: 368px;
}
.tpayment{
  margin-left: 90px;
  margin-top: 30px;
}

.paymentcheckbox{
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.paymentcheckbox label{
  cursor: pointer;
  display: flex;
  margin-left: 60px;
  margin-top: 31px;
}
.paymentcheckbox input[type='checkbox']{
  cursor: pointer;
  position: absolute;
  opacity: 0;
}
.paymentcheckbox label::before{
  content: '';
  width: 24px;
  height: 24px;
  border: .15em;
  margin-right: .5em;
  border: 2px solid #003566;
  border-radius: 5px;
}
/* .paymentcheckbox input[type='checkbox']:hover +label::before{
  background: #003566;
} */
.paymentcheckbox input[type='checkbox']:checked + label::before{
  content: '\002714';
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003566;
  width: 24px;
  height: 24px;
}
#status {
  width: 20%;
}
